<html>
    <head>
        <title>Blog Archive</title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog Archive</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>The journey of this world has been quite amazing too far but the same amazing for me could be called fucked up for someone else.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Since the day I've entered college, I've discovered new dimensions to life but my friends constantly keep calling the same as destroyed</p>
        </div>
    </body>
</html>